@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
}

.search-bar {
  display: flex;
  align-items: center;
}
.search-bar__icon {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
  height: 30px;
}
.search-bar__input {
  height: 50px;
  border: 1px solid #d9d9d9;
  padding-left: 20px;
  font-size: 1.2em;
  font-weight: bold;
}
.search-bar__submit {
  height: 50px;
  border-radius: 0px 20px 20px 0px;
  background-color: #0065fc;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.filter {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 35px;
  max-width: 250px;
  height: 50px;
  padding-right: 10px;
  margin-left: 20px;
}
.filter__icon {
  padding: 18px;
  font-size: 18px;
  background-color: #deebff;
  border-radius: 100%;
  color: #0065fc;
}
.filter__title {
  padding: 10px;
  font-weight: bold;
}

.card {
  flex-basis: 28%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 300;
}
.card__image {
  flex-basis: 40%;
  margin: 0;
  padding: 0;
}
.card__image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}
.card__infos {
  flex-basis: 60%;
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__infos__title {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}
.card__infos__pricing {
  margin-top: 0;
  font-size: 16px;
}
.card__infos__price {
  font-weight: bold;
}
.card__infos__stars {
  margin-bottom: 0;
}
.card__infos__stars__active {
  color: #0065fc;
}
.card__infos__stars__inactive {
  color: #d9d9d9;
}

.card-column {
  margin: 0;
  margin-bottom: 20px;
  height: 200px;
  flex-direction: column;
  max-width: 28%;
}
.card-column__image {
  height: 60%;
}
.card-column__image img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card-column__infos {
  flex-basis: 40%;
  padding-left: 15px;
  padding-right: 5px;
  display: block;
}
.card-column__stars {
  margin-top: 0;
}

.card-basic {
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}
.card-basic__image {
  flex-basis: 700px;
  margin: 0;
  padding: 0;
}
.card-basic__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card-basic__title {
  padding-left: 20px;
}
.card-basic--small {
  height: 250px;
}
.card-basic--small__image {
  max-height: 80%;
}
.card-basic--small__image img {
  object-fit: cover;
}
.card-basic--medium {
  height: 320px;
}
.card-basic--medium__image {
  max-height: 80%;
}
.card-basic--medium__image img {
  object-fit: cover;
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.hosting-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.hosting-wrapper div:first-child {
  flex-basis: 30%;
}
.hosting-wrapper div:last-child {
  flex-basis: 70%;
}

.hosting {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.hosting__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hosting__icon {
  font-size: 18px;
  padding-right: 10px;
}
.hosting__more {
  padding-left: 30px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
}
.hosting__items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.hosting__popular-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activity {
  height: 700px;
}
.activity__columns {
  display: flex;
  justify-content: center;
}
.activity__columns__col {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 110px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav__link {
  text-decoration: none;
  padding: 20px;
  color: black;
  width: 100px;
  margin: 10px;
  text-align: center;
}
.header__nav__link:hover {
  border-top: 3px solid blue;
  color: blue;
}

.search__title {
  margin-bottom: 0;
}
.search__subtitle {
  margin-top: 5px;
}
.search__filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.search__results {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.search__results__icon {
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100%;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  height: 12px;
  width: 12px;
  margin-right: 10px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__col__link {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
