.card {
  flex-basis: 28%;
  margin-bottom: 30px;
  display: flex;
  height: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 300;
  transition: all 300ms;

  @include small-shadow;

  &:hover {
    transform: translateY(-7px);
    @include medium-shadow;
  }

  &__image {
    flex-basis: 40%;
    margin: 0;
    padding: 0;
    & img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      border-radius: 20px 0px 0px 20px;
    }
  }
  &__infos {
    flex-basis: 60%;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &__title {
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__pricing {
      margin-top: 0px;
      font-size: 16px;
    }

    &__price {
      font-weight: bold;
    }

    &__stars {
      margin-bottom: 0;
      position: absolute;
      bottom: 5%;

      &__active {
        color: $blue;
      }

      &__inactive {
        color: $grey;
      }
    }
  }

  @include mobile-design {
    &__infos {
      &__pricing {
        margin-top: 5px;
        font-size: 18px;
      }
    }
  }
}
