.filter {
  display: flex;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 35px;
  max-width: 250px;
  height: 50px;
  padding-right: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  transition: all 100ms;

  &__icon {
    padding: 20px;
    font-size: 18px;
    background-color: $light-blue;
    border-radius: 100%;
    color: $blue;
    z-index: 10;
  }
  &__title {
    padding: 10px;
    z-index: 10;
    font-weight: bold;
  }

  &:hover {
    @include tiny-shadow;
    opacity: 0.8;
    transform: scale(1.02);
  }
}
