.filter {
  display: flex;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 35px;
  max-width: 250px;
  height: 50px;
  padding-right: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  &__icon {
    padding: 18px;
    font-size: 18px;
    background-color: $light-blue;
    border-radius: 100%;
    color: $blue;
  }
  &__title {
    padding: 10px;
    font-weight: bold;
  }
}
