.search-bar {
  display: flex;
  align-items: center;
  margin-top: 30px;

  &__icon {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $light-grey;
    border-radius: 15px 0px 0px 15px;
    height: 30px;
  }
  &__input {
    height: 50px;
    width: 250px;
    border: 1px solid $grey;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  &__submit {
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    background-color: $blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding-left: 20px;
    padding-right: 20px;

    &__text {
      display: block;
    }

    &__icon {
      display: none;
    }
  }

  @include mobile-design {
    &__input {
      width: 100%;
    }

    &__submit {
      border-radius: 15px 15px 15px 15px;
      position: relative;
      left: -5%;

      &__icon {
        display: block;
      }

      &_text {
        display: none;
      }
    }
  }
}
