@mixin mobile-design {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin tablet-design {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin tiny-shadow {
  box-shadow: 0px 5px 15px 5px lighten($grey, 5%);
}

@mixin small-shadow {
  box-shadow: 0px 10px 20px 5px $grey;
}

@mixin medium-shadow {
  box-shadow: 0px 20px 30px 5px darken($grey, 10%);
}
