.hosting {
  background-color: $light-grey;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
  }

  &__icon {
    font-size: 18px;
    padding-right: 10px;
  }

  &__more {
    padding-left: 30px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
  }

  &__items {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
  }

  &__popular-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include tablet-design {
    margin-right: 0px;

    &__title {
      padding-left: 0px;
    }
  }

  @include mobile-design {
    border-radius: 0px;

    &__more {
      padding-left: 0px;
      font-size: 22px;
    }
  }
}
