.search {
  &__title {
  }

  &__subtitle {
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__results {
    display: flex;
    align-items: center;
    margin-top: 40px;

    &__icon {
      padding: 7px;
      border-radius: 100%;
      color: $blue;
      border: 1px solid $grey;
      height: 12px;
      width: 12px;
      margin-right: 10px;
    }

    &__text {
    }
  }
}
